extends layout

block content 
    each order in orders 
      .order 
        .orderHeader 
          span.customerName #{order.customer_name}
          span.date #{order.updated_at}
        .orderCards
            each card in order.cards
                li #{card}
          
    